* {
	padding: 0;
	margin: 0;
	list-style: none;

}

a {
	text-decoration: none;
}

body {
	box-sizing: border-box;
	background-color: #1e1e1e;
	    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
	position: relative;
}


@font-face {
	font-family:enart;
	src:url(enart.otf);
}
@font-face {
	font-family:entitle;
	src:url(entitle.otf);
}
@font-face {
	font-family:pinyin;
	src:url(pinyin.otf);
}

@font-face {
	font-family:enarticle;
	src:url(entitle.otf);
}
@font-face {
	font-family:enwen;
	src:url(enwen.otf);
}
@font-face {
	font-family:clock;
	src:url(clock.otf);
}


img {
	object-fit: cover;
}

/* 头部广告位 */
.de_iv_adv {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 5px 0;
	/* background-color: #F8F8F8; */
	margin: 10px 0 0px;
}

/* 底部广告位 */
.postionFixed {
	width: 100%;
	/* min-height: 60px; */
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #F8F8F8;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 9999;
}


@media (max-width:1000px) {

	.header {
		width: 100%;
		height: auto;
		background-color: #000;
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
		position: sticky;
		top: 0;
		z-index: 999999;
	}

	.h-box {
		position: relative;
	}

	.hb {
		width: 90%;
		height: 50px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		align-items: center;
		margin: auto;
		position: relative;
		padding: 3px 0;
		background-size: 100% 100%;
	}

	.title {
		width: 60%;
		height: 45px;
	}
	.title h1{font-size:25px;font-family: emoji;color:#fff;line-height: 44px;}

	.title img {
		width: 100%;
		height: 100%;
		object-fit: contain;
		display: block;
	}

	.menu {
		width: 7%;
		height: 20px;
	}

	.seach {
		width: 8%;
		height: 25px;
		background-color: #ed02d9;
		border-radius: 15px;
		padding: 5px;
		margin-left: 10%;
	}


	.menu-box {
		width: 100%;
		height: calc(100vh - 56px);
		background-color: #262626;
		transition: all 0.2s linear;
		transform: translateX(-100vw);
		position: fixed;
		top: 56px;
		left: 0;
		z-index: 9999;
	}

	.menu_list {
		width: 100%;
		margin-top: 20px;
	}

	.menu_list a {
		width: 86%;
		display: block;
		margin: 0 auto 20px;
		border-radius: 5px;
		border-bottom: 1px solid  rgba(27, 70, 75, 0.8);
		color: #84cdea;
		display: flex;
		padding: 5px 2%;
		text-transform: uppercase;
		align-items: center;
		font-size: 16px;
		line-height: 2;
		box-shadow: 0px 5px 16px rgba(27, 70, 75, 0.8);
	}

	.menu_list a img {
		width: 25px;
		height: 25px;
		display: block;
		padding: 3px;
		border-radius: 5px;
		margin-right: 15px;
	}
	.search-box {
		width: 100%;
		height: calc(100vh - 56px);
		background-color: #262626;
		transition: all 0.2s linear;
		display: none;
		position: absolute;
		top: 56px;
		left: 0;
		z-index: 9999;
	}
	.seachdiv {
		width: 90%;
		height: 33px;
		display: flex;
		justify-content: space-around;
		align-items: center;
		margin: auto;
		background-color: #fff;
		padding: 3px;
		margin-top: 20px;
		border: 3px solid #404040;
		box-shadow: 0px 5px 10px rgba(0, 0, 0, .8);
	}

	#seach {
		display: block;
		border: none;
		outline: 0;
		cursor: pointer;
		height: 100%;
		width: 83%;
		color: #757575;
		font-size: 14px;
		text-indent: 1em;
		font-weight: 400;
		background-color: transparent;
		text-overflow: ellipsis;
		border-radius: 30px;
	}

	.seach-img {
		width: auto;
		height: 32px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.seach-img span {
		display: none;
	}

	.seach-img img {
		width: 25px;
		height: 25px;
		padding:3px;
		border-radius: 100%;
		background-color: #84cdea;

	}

	.footer {
		width: 100%;
		margin-top: 20px;
		/* margin-bottom: 60px; */
		height: auto;
		text-align: center;
		background-color: #3a3d41;
		color: #fff;
		font-size: 13px;
		line-height: 1.5;

	}

	.f-inner {
		width: 90%;
		margin: auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		padding: 5px 0;
	}

	.f-inner img {
		width: 80%;
		height: 50px;
		margin-bottom: 10px;
		object-fit: contain;
	}

	.about {
		width: auto;
		display: flex;
		margin-top: 5px;
		justify-content: center;
		margin-left: 15px;
	}

	.about>a {
		text-decoration: none;
		color: gray;
		/* text-align: center; */
		padding: 2px 5px;
		/* background-color: #fff; */
		/* border-radius: 5px; */
		/* border-bottom: 3px solid #d6e9f1; */
	}

	.about>a:nth-of-type(1) {
		margin-right: 10px;
	}

}

@media (min-width:1000px) {
	.header {
		width: 96%;
		height: auto;
		background-color: #000000;
		position: sticky;
		padding: 0px 2%;
		top: 0;
		z-index: 99999;
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
		display: flex;
		justify-content: space-between;
		align-items: center;
		box-shadow: 0px 0px 10px rgba(35,231,243,0.6);
	}

	.h-box {
		width: 100%;
		height: auto;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		position: relative;
		/* padding: 5px 0; */
	}

	.hb {
		width: 20%;
		height: auto;
	}

	.title {
		width: 100%;
		height: 60px;
	}

	.title img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}

	.menu,
	.seach{
		display: none;
	}

	.menu-box {
		width: auto;
		height: auto;
		display: flex;
		align-items: center;
		justify-content: space-around;
		position: relative;
	}

	.menu_list {
		display: flex;
		justify-content: space-between;
		text-align: center;

	}

	.menu_list a {
		width: auto;
		margin-right: 20px;
		display: flex;
		line-height: 65px;
		font-size: 17px;
		align-items: center;
		font-weight: 400;
		/* text-transform: uppercase; */
		color: #a3a3a3;
		padding: 0 15px;
		font-family: 'enwen';
	}
	.menu_list a:hover{
		background-color: rgba(35,231,243,0.8);
		color: #fff
	}

	.menu_list a img {
		width: 20px;
		height: 20px;
		margin-right: 5px;
	}
	.search-box{
		width: 40%;
	}
	.seachdiv {
		width: 100%;
		height: 35px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		/* border-radius: 20px; */
		padding:3px 4px;
		border: 3px solid gainsboro;
		background-color: #fff;
		box-shadow: 0 5px 10px rgba(0, 0, 0, .8);

	}


	#seach {
		display: block;
		border: none;
		outline: 0;
		cursor: pointer;
		height: 100%;
		width: 80%;
		font-size: 16px;
		text-indent: 2em;
		border-radius: 30px;
		color: gray;
		font-weight: 400;
		background-color: transparent;
		margin-right: 10px;
		/* font-weight: 600; */
	}

	.seach-img {
		width: auto;
		
		height: 100%;
		
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.seach-img img {
		width: 25px;
		height: 25px;
		padding:3px;
		border-radius: 100%;
		background-color: #b800e3;
		object-fit: cover;
	}

	.footer {
		width: 100%;
		margin-top: 20px;
		/* margin-bottom: 60px; */
		height: auto;
		text-align: center;
		background-color: #383838;
		color: #fff;
		font-size: 14px;
		line-height: 1.5;

	}

	.f-inner {
		width: 90%;
		margin: auto;
		padding: 10px 0;
	}

	.f-inner img {
		width: 15%;
		height: 60px;
		object-fit: contain;
	}

	.about {
		width: auto;
		display: flex;
		margin-top: 5px;
		justify-content: center;
	}

	.about>a {
		text-decoration: none;
		color: gray;
		text-align: center;
		padding: 5px 5px;
		padding: 5px 10px;
		background-color: #000000;
		border-radius: 5px;
		border-bottom: 3px solid #555555;
	}

	.about>a:nth-of-type(1) {
		margin-right: 10px;
	}

	.about>a:hover {
		background-color: #bfe84e;
		color: #fff;
	}
}

#sdk__advertisement{ display:none;}
