.ifam-box {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
	z-index: 12;
}


@media (max-width:1000px) {
	.game-box {
		width: 95%;
		height: auto;
		margin: 55px auto 0px;
	}


	.game-inner {
		width: 100%;
		margin: auto;
	}

	.gn-left {
		width: 100%;
		height: 550px;
		position: relative;
		overflow: hidden;
		box-shadow: 0px 0px 17px -5px #000;
		border-radius: 7px;
	}

	.gl-banner {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		filter: blur(8px);
		border-radius: 7px;
		z-index: 9;
	}

	.gl-mb {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 10;
		background-color: rgba(0, 0, 0, 0.4);

	}

	.play {
		width: 300px;
		height: 300px;
		margin: 7% auto 0;
		position: relative;
		border: 3px solid #fff;
		border-radius: 25%;
	}

	.play img {
		width: 100%;
		height: 100%;
		border-radius: 25%;
	}

	.play-btn {
		position: absolute;
		bottom: -84px;
		width: 100%;
		box-shadow: 0px 0px 17px -5px #000;
		transition: all .2s;
		line-height: 50px;
		border-radius: 28px;
		text-align: center;
		font-size: 23px;
		text-shadow: 1px 1px #505050;
		color: #fff;
		text-transform: uppercase;
		left: 0;
		right: 0;
		margin: auto;
		border: 3px solid #fff;
		overflow: hidden;
		background: #3e0cd7;
		background: #af009a;
		/* fallback for old browsers */
		background: -webkit-linear-gradient(to right, #86fde8, #acb6e5);
		/* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to right, #3e0cd7, #af009a);
		/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	}

	.play-btn::after {
		content: "";
		position: absolute;
		height: 33px;
		width: 25px;
		background-image: url(../image/right.png);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		top: 10px;
		right: -21px;
	}

	.play-btn:hover {
		padding-right: 30px;
	}

	.play-btn:hover::after {
		right: 25px;
	}

	.g-title {
		width: 100%;
		background: linear-gradient(90deg, rgba(30, 87, 153, 0) 0, rgba(0, 0, 0, .3) 50%, rgba(125, 185, 232, 0));
		color: #fff;
		font-size: 23px;
		font-weight: 700;
		letter-spacing: -1px;
		margin-top: 120px;
		padding: 15px 0;
		text-align: center;
		text-shadow: 1px 1px #505050;
	}

	.g-about {
		width: 100%;
		margin: auto;
		border-radius: 0px;
		min-height: 200px;
		box-shadow: 0px 0px 17px -5px #000;
		background-color: #333333;
		color: #ffffff;
		margin-top: 20px;
		border-radius: 10px;
		padding-bottom: 10px;
	}

	.gb-title {
		font-size: 20px;
		text-indent: 1em;
		line-height: 2.0;font-family: enarticle;
		color: #ffffff;
		border-bottom: 1px solid rgba(0, 0, 0, .2)
	}

	.g-about p {
		width: 92%;
		margin: 10px auto;
		font-size: 15px;
		line-height: 1.7;
		padding-bottom: 10px;
		color: #ffffff;
	}



}

@media (min-width:1000px) {
	.content {
		width: 100%;
		margin: 0 auto 40px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		align-items: flex-start;
		align-content: flex-start;
	}


	.g_banner {
		width: 100%;
		background-color: #000;
		background-image: url(../image/game_banner.png);
		background-attachment: fixed;
		background-size: 550px 550px;
		background-position: left;
		padding: 20px 0;
	}
	.game-box {
		width: 100%;
		height: auto;
		border-radius: 8px;

	}
	
	.game-inner {
		width: 70%;
		margin: auto;
		background-color: #434343;
		border-radius: 8px;
		box-shadow: 0px 0px 17px -5px #000;
	}

	.gn-left {
		width: 100%;
		height: 600px;
		position: relative;
		overflow: hidden;
		border-radius: 8px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.gl-banner {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		filter: blur(20px);
		border-radius: 8px;
		z-index: 9;

	}

	.gl-mb {
		position: relative;
		width: 80%;
		height: 88%;
		z-index: 10;
		background-color: rgb(255 255 255 / 1%);
		border-radius: 20px;
	}

	.play {
		width: 300px;
		height: 300px;
		margin: 4% auto 0;
		position: relative;
		border-radius: 8px;
		border-radius: 25%;
		/* overflow: hidden; */
		box-shadow: 0px 0px 17px -5px #000;
		border: 2px solid #FFF;
	}

	.gl-mb:hover {
		/*box-shadow: -2px -2px 10px 1px #ffffff, 10px 20px 21px rgba(0, 0, 0, .4);*/
	}

	.play img {
		width: 100%;
		height: 100%;
		border-radius: 25%;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
		transition: all linear 0.2s;
		/* border-radius: 8px; */
	}
/*
	.play img:hover {
		transform: scale(1.1);
		box-shadow: -2px -2px 10px 1px #ffffff, 10px 20px 21px rgba(0, 0, 0, .4);
	}*/


	.play-btn {
		position: absolute;
		bottom: -80px;
		width: 90%;
		transition: all .2s;
		line-height: 50px;
		border-radius: 20px;
		text-align: center;
		font-weight: bold;
		font-size: 25px;
		text-shadow: 1px 1px #505050;
		color: #fff;
		text-transform: uppercase;
		left: 0;
		right: 0; cursor:pointer;
		margin: auto;
		/* text-indent: 1.5em; */
		/* border: 3px solid #fff; */
		overflow: hidden;
		background: #7F7FD5;
		box-shadow: 0px 0px 17px -5px #000;
		background: #3e0cd7;
		background: #af009a;
		/* fallback for old browsers */
		background: -webkit-linear-gradient(to right, #86fde8, #acb6e5);
		/* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to right, #3e0cd7, #af009a);
		/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		transition: all linear 0.3s;
	}

	.play-btn::after {
		content: "";
		position: absolute;
		height: 15px;
		width: 15px;
		background-image: url(../image/left.png);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		top: 18px;
		left: 10%;

	}

	.play-btn:hover {
		transform: scale(1.2);
	}

	.play-btn:hover::after {
		animation: wgKnock .3s infinite;
	}

	@keyframes wgKnock {
		0% {
			left: 13%;
		}

		100% {
			left: 8%;
		}
	}

	.g-title {
		width: 100%;
		background: linear-gradient(90deg, rgba(30, 87, 153, 0) 0, rgba(0, 0, 0, .3) 50%, rgba(125, 185, 232, 0));
		color: #fff;
		font-size: 28px;
		font-weight: 700;
		letter-spacing: 7px;
		margin-top: 116px;
		padding: 15px 0;
		text-align: center;
		text-shadow: 1px 1px #505050;
		font-family: 'enarticle';
	}

	.g-about {
		width: 70%;
		margin:20px auto;
		border-radius: 0px;
		min-height: 200px;
		box-shadow: 0px 0px 17px -5px #000;
		background-color: #393838;
		color: #fff;
		border-radius: 10px;
	}

	.gb-title {
		font-size: 24px;
		text-indent: 1em;
		color: #ffffff;
		line-height: 2.0;
		border-bottom: 1px solid rgba(0, 0, 0, .2)
	}

	.g-about p {
		width: 94%;
		margin: 10px auto;
		font-size: 16px;
		line-height: 1.5;
		color: #b9b9b9;
	}

	.main {
		width: 70%;
		margin: 0 auto 20px;

	}

	.list1 {
		width: 100%;
	}

	.li-box {
		width: 20%;
	}

	.m-title {
		justify-content: flex-start;
	}

	.mt-left {
		font-size: 25px;
	}


}

.m-title {
	width: 100%;
	line-height: 1.2;
	font-family: enarticle;
	font-size: 25px;
	color: #fff;
	border-bottom: 1px solid #3d3d3d;
}


