.whead{position:fixed;left:0px;top:0px;width:100%;z-index:999}
.whead .tab{height:40px; line-height:40px;color:#333; background: #ccc3;text-align:center; box-shadow: 0px 2px 8px #c3c3c3;}
.whead .tab i{font-style:normal;margin:10px 5px;    border-radius: 7px; }
.whead .tab i a{height: 24px;display:block;font-size: 14px;line-height: 21px;color: #7739e5;}
.whead .tab i.l{position:absolute;left: 14px;width: 42px;text-align: center;height: 22px;}
.whead .tab i.r{position:absolute;right: 13px;width: 69px;height: 23px;line-height: 21px;}
.whead .tab i.h{position:absolute;right: 53px;width: 48px;line-height: 19px;height: 22px;font-size: 16px;/* background:url(../image/home.png) no-repeat; *//* background-size:20px 20px; */}


/*-- Animation Keyframes --*/



.link {
  animation: flux 4s linear infinite;
  -moz-animation: flux 2s linear infinite;
  -webkit-animation: flux 2s linear infinite;
  -o-animation: flux 2s linear infinite;
}

@keyframes flux {
  0%,
  100% {
    text-shadow: 0 0 1vw #a310ff, 0 0 3vw #a310ff, 0 0 10vw #a310ff, 0 0 10vw #a310ff, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #000;
    color: #fff7fe;
  }
  50% {
    text-shadow: 0 0 .5vw #ea03ff, 0 0 1.5vw #ea03ff, 0 0 5vw #ea03ff, 0 0 5vw #ea03ff, 0 0 .2vw #082180, .5vw .5vw .1vw #000;
    color: #fff7fe;
  }
}
