@charset "utf-8";
a{text-decoration:none;color:#333}
ul,li{list-style:none;margin:0;padding:0}
html{background: #FFF url("https://www.transparenttextures.com/patterns/cubes.png")}
@media only screen and (min-width:640px ){
	body{
		margin:0 auto;
		width:640px;
	}
}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;line-height:1.6}
body{-webkit-touch-callout:none;line-height:inherit;font-size:14px;color:#333}
input,label,select,textarea{outline:0;-webkit-user-modify:read-write-plaintext-only;-webkit-tap-highlight-color:transparent;}
label{-webkit-user-modify:read-only;}
input{border:none;background:0 0;-webkit-appearance:none;}
section{min-height:20px;}
section img{ width:100%; }
.mt10{margin-top: 10px;}
.mp10{padding: 10px;}
.mt20{margin-top: 20px;}
.kuang{border:1px solid #ddd; border-radius:2px}

/********index********/
.indexinfo1{margin:10px;background:#ffffff;overflow:hidden;}
.indexinfo{margin:10px;background:#fdfdfd;overflow:hidden; ;}
.indexinfo .tit,.indexinfo .txt{
     margin: 17px 46px;
    padding: 13px 25px;
    top: 26px;
    position: absolute;
    text-indent: 32px;
    line-height: 28px;
    font-size: 15px;
    max-height: 254px;
    color: #fff;
    text-shadow: 0 0 10px #000;
    font-weight: bold;
    background: #000000ad;
    box-shadow: 0 0 7px #333235;
    left: 0;
    border: 4px double  #8383839c;
    letter-spacing: 2px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling:
}

.indexinfo .tit,.indexinfo .txtin{}
    
    

.indexinfo .tit1{ color:#000;font-size: 20px}
.indexinfo .weui-btn_primary{background: #7739e5; border-radius:17px;    position: relative;
    display: block; margin: 0 auto; padding: 0 14px;
    box-sizing: border-box;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    line-height: 2.55555556;
    overflow: hidden;
}
.indexinfo .weui-btn_primary:hover{background: #000;border-radius:17px;}
.indexinfo .weui-btn_primary:not(.weui-btn_disabled):visited{
    color:#fff
}
.indexinfo .weui-btn_primary:not(.weui-btn_disabled):active{
    color:hsla(0,0%,100%,.6);
    background-color:#5824b6
}


.btn{margin:10px;}
.btn .weui-btn_plain-default{ width:80%}

.whead{position:relative;left:0px;top:0px;width:100%;z-index:999}

