@charset "utf-8";
/* CSS Document */
#navbar-container{
    position: absolute;
    left: 0;
}

 .navbar {
            position: fixed;
            top: 0;
            width: 100%;
            background-color: #ffffff9c;
            color: white;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #ededed;
            align-items: center;
            padding: 0;
            box-sizing: border-box;
            z-index: 10000;
            transition: top 0.3s;
        }
        .navbar.hidden {
            top: -50px;
        }
        .logo {
            font-size: 14px;
            font-weight: bold;
            color: #000;
            margin-left: 19px;
        }
        .menu-button {
            cursor: pointer;
            display: flex;
            align-items: center;
            color: #000000;
            height: 37px;
            margin-top: 0px;
            z-index: 2999;
            padding: 0 10px;
            margin-right: 2px;
            border-radius: 0 0 10px 10px;
        }
        .menu-icon {
            margin-right: 5px;
        }
        .sidebar {
            position: fixed;
            top: 0; /* 确保菜单从横条下方开始 */
            right: -200px;
            width: 200px;
            height: calc(100% - 2px); /* 减去横条的高度 */
            background-color: #ffffff;
            padding: 38px 20px 20px 20px;
            box-sizing: border-box;
            transition: right 0.3s;
            z-index: 1999;
            overflow-y: auto; /* 允许在菜单区域内部滚动 */
        }
        .sidebar.open {
            right: 0;
        }
        .menu-item {
            margin-bottom: 10px;
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 10px; /* 增加高度 */
            border-bottom: 1px solid #ddd; /* 添加分隔线 */
        }
        .menu-item:last-child {
            border-bottom: none; /* 去掉最后一个菜单项的分隔线 */
        }
        .menu-item .expand-icon {
            margin-left: 10px;
            cursor: pointer;
        }
        .submenu {
            margin-left: 20px;
            display: none;
            padding: 0 10px; /* 增加内边距 */
        }
        .submenu .menu-item {
            padding: 10px; /* 增加高度 */
            border-bottom: none; /* 去掉二级菜单的分隔线 */
        }
      
     
        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.9); /* 90% 透明遮罩 */
            display: none;
            z-index: 400;