body {
    font-family: Arial, sans-serif;
    /* padding: 20px; */
    margin:0;
    background-color: #fff;
}
.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto 15px;
    border: 1px solid #e4e4e4;
    position: relative;
    border-radius: 12px;
    padding: 0 16px;
    height: 40px;
    width: 53%;
}
#search-input {
    width: 70%;
    padding: 10px;
    font-size: 14px;
    border: none;
    height: 18px;
    color: #ed2424;
    line-height: 36px;
    float: left;
    border-radius: 12px;
    position: absolute;
    left: 3px;
}
#clear-search{display:block;position: absolute;right: 4px;padding: 12px 17px;}


 .tagsbox{
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    height: 25px;
    margin: 0 20px 13px;
    }
  .tagsbox .tip{
    /* background: #ffffff; */
    font-weight: bold;
    font-size: 15px;
    padding: 2px 0 0 3px;
    position: absolute;
    z-index: 100;
    color: #575757;
    width: 42px;
    height: 30px;
    left: -2px;
    box-shadow: 0px 0px 17px #0a0a0a21;
    }
   .tagsbox .show-all-tags{
    background-color: #ffffff;
    /* background-size: 20px; */
    /* background-image: url(scroll.gif); */
    /* background-repeat: no-repeat; */
    /* background-position: 4px 12px; */
    color: #575757;
    border: none;
    padding: 7px 0px;
    cursor: pointer;
    border-radius: 6px;
    border: 1px solid #dddddd;
    font-size: 16px;
    position: absolute;
    /* box-shadow: 0px 0px 26px #a5a5a58c; */
    z-index: 99;
    /* display: none; */
    width: 30px;
    height: 25px;
    top: 0px;
    right: 0px;
    text-align: center;
    line-height: 11px;
    }


 .tags{
            display: flex;
            gap: 7px;
            padding-bottom: 5px;
            margin-bottom: 1px;
            overflow-x: scroll;
            margin-left: 48px;
            margin-right: 35px;
            scroll-behavior: smooth;
            -webkit-overflow-scrolling: touch;
        }
		.keywords {
    display: flex;
    gap: 8px 5px;
    flex-wrap: wrap;
    margin-bottom: 2px;
    height: 37px;
    flex-direction: column;
    display: inline-block; /* 允许使用宽度 */
    animation: scrollText 140s linear infinite;  /* 应用动画 */
    }
	
/*			.keywords {
    display: flex;
    gap: 8px 5px;
    flex-wrap: wrap;
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: 16px;
    height: 44px;
    flex-direction: column;
    overflow: scroll;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    }
	*/
	.tags .tip{background:none;font-weight:bold;font-size: 15px; padding: 2px 0 0 0px;margin-right: 0;border: none;}
	.marquee .tip{background: #ffffff;font-weight:bold;font-size: 15px;padding: 5px 0 0 3px;position: absolute;z-index: 100;color: #575757;left: -1px;}	
		
        .tag{
            padding: 3px 3px;
            background-color: #ffffff;
            border-radius: 5px;
            cursor: pointer;
            letter-spacing: 1px;
            color: #000;
            border: 1px solid #efefef;
            font-size: 13px;
            display: inline;
        }
		
		.marquee {
   /* 容器宽度 */
  overflow: hidden; /* 隐藏溢出的内容 */
  white-space: nowrap; /* 防止文本换行 */
  position: relative; /* 相对定位 */
  margin: 0 20px;
}
		
			.keyword {
            padding: 5px 6px;
            background-color: #ffffff;
            border-radius: 5px;
            cursor: pointer;
            color: #000000;
            letter-spacing: 1px;
            font-size: 13px;
            display: inline-block;
            border: 1px solid #f3f3f3;
            margin-right:5px;
        }
		
		
		@keyframes scrollText {
  0% {
    transform: translateX(0); /* 开始时，不移动 */
  }
   2% {
    transform: translateX(0); /* 开始时，不移动 */
  }
  100% {
    transform: translateX(-100%); /* 完全移动到左边，超出容器宽度 */
  }
}
		
        .tag:hover, .keyword:hover , .active{
            background-color: #000000;
            color: white;
        }
.content {
    padding: 15px 9px 200px;
    /* background: #fff; */
}
.category {
    padding: 10px;
    border: 1px solid #ffffff;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0 0 6px #ccc;
}
.category h3 {font-weight: b;margin: 0 0 2px;font-size: 18px;color: #000000;border-bottom: 3px solid #efefef;letter-spacing: 1px;line-height: 31px;height: 32px;background: #ffffff;font-weight: bolder;overflow: hidden;}
.category ul {
    list-style-type: none;
    padding: 0;
}
.category ul li {
    margin-bottom: 6px;
    font-size: 16px;
    border-bottom:1px dashed #d1d1d1;
    line-height: 32px;
    background: #ffffff;
    letter-spacing: 1px;
    /* display: flex; */
    align-items: center;
    justify-content: space-between;
    padding: 0px 5px 9px 5px;
    position: relative;
    min-height: 67px;
}
.category ul li nav{ display:none;}
.content li.highlight-effect {line-height:25px;border-radius: 7px;padding: 8px 5px;border: 1px solid #e4e4e4;}

.content li.highlight-effect span c h4{ font-weight:bolder;}


.category ul li span{ display: block;    padding-bottom: 25px;}
.category ul li b span,.category ul li  span c span,.category ul li  span i span,.category ul li  span span { height:auto; padding:0; display: inline;text-decoration: underline;}


.clear-btn {
    cursor: pointer;
    color: #ed2424;
    position: absolute;
    right: 6px;
    top: -4px;
    font-size: 22px;
    padding: 5px 15px;
}
@media (max-width: 600px) {
    .search-container {
        flex-direction: column;
    }
    #search-input {
        width: 90%;
        height: 18px;
        border: none;
    }
}
.title {
    height: 86px;
    line-height: 80px;
    text-align: center;
    margin-top: 31px;
    padding: 20px 20px 0 20px;
}
.title h1 {
    font-size: 22px;
    line-height: 39px;
    padding: 10px 0px 0;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0;
    text-shadow: 0 0 4px #FFF;
}
.title p {
    font-size: 14px;
    line-height: 10px;
    padding: 7px 0 0;
    margin: 0;
    letter-spacing: 5px;
    color: #8f8f8f;
}

.actions {
    display: flex;
    gap: 6px 8px;
    position: absolute;
    right: 5px;
    bottom: 9px;
}
.actions button {
    background-color: #ffffff;
    color: #919191;
    border: 1px solid #f3f3f3;
    padding: 3px 4px;
    border-radius: 5px;
    cursor: pointer;
}
.actions button:hover { color:#CC0000;
}

/* 现有样式保持不变，新增以下样式 */
.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-height: 66%;
	border-radius: 21px;
	overflow-y: scroll;
	overflow-x:hidden;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch; position:relative;
}
.modal-content .keyword{  margin: 0 8px 8px 0;}

#modal-keywords-container{
 height:100%;
	}


.close-button {
    color: #ffffff;
    font-size: 29px;
    margin-top: -16px;
    display: block;
    padding: 0px 8px;
    margin-right: -19px;
    position: fixed;
    right: 36px;
    top: 69px;
    border-radius: 40px;
    background: #c70000;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.show-all-keywords {
    background-color: #ffffff;
    color: #5d5d5d;
    border: none;
    padding: 7px 0px;
    border: 1px solid #dddddd;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    z-index: 99;
    display: block;
    width: 32px;
    height: 28px;
    top: 0px;
    line-height: 11px;
    right: 0px;
    text-align: center;
}

.show-all-keywords:hover {
    background-color: #a50006;
}


/* 回到顶部按钮样式 */

#back-to-top {
    display: none;
    position: fixed;
    bottom: 134px;
    right: 31px;
    background-color: #fff;
    color: #000000;
    padding: 5px 0px;
    border-radius: 50px;
    border: 1px solid #b7b7b78c;
    cursor: pointer;
    font-size: 22px;
    line-height: 18px;
    width: 45px;
    height: 45px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index:100;
}

#back-to-top:hover {
    background-color: #a50006 ; color:#fff;
}
.category ul li  c{text-decoration: none;display: block;line-height: 27px;padding: 6px 0 5px;max-height: 120px;overflow-y: auto;}
.category ul li  c p{ padding:0; margin:0; font-size:16px;}
.category ul li  c b{color:#000;font-weight: bold;font-size: 16px;/* top: auto; */}
.category ul li  c u{color: #25829c;    font-size: 14px;    text-decoration: none;}
.category ul li  c h4{ padding:0; margin:0; font-size: 20px;
    font-weight: normal;
    line-height: 55px;}

.category ul li  i{color: #777777;text-align: right;display: block;line-height: 15px;font-size:12px;margin-bottom: 7px;padding-top: 6px;letter-spacing: 0px;font-style: normal;}
.category ul li  b{color: #c40101;display: block;font-weight: normal;font-size: 14px;line-height: 21px;padding-bottom: 10px;letter-spacing: 2px;overflow: hidden;padding-top: 5px;}





/* 现有样式保持不变，新增以下样式 */
.modal {
    display: none;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 111%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgb(0 0 0 / 0%);
}

.modal-content {
    background-color: #ffffff;
    margin: 132px auto 0;
    padding: 20px;
    border: 1px solid #e3e3e3;
    width: 80%;
    height: 60%;
    border-radius: 21px;
    overflow-y: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}



.modal-content   c{text-decoration: none;display: block;line-height: 28px;padding: 6px 21px 5px 5px;position: absolute;font-size: 15px;top:20px;}
.modal-content   c u{ text-decoration:none;}
.modal-content   c b{color:#000;display: none;position: relative;top: auto;}

.modal-content   i{color: #000000;text-align: right;display: block;line-height: 29px;font-size: 16px;position: absolute;top: 49px;text-decoration: none;font-style: normal;font-weight: bold;text-align: left;}
.modal-content   b{color: #ab0000;display: block;font-weight: normal;font-size: 16px;position: absolute;top: 18px;}





.close-button {
    color: #e31616;
    font-size: 29px;
    margin-top: 9px;
    display: block;
    padding: 0px 8px;
    margin-right: -19px;
    position: fixed;
    right: 29px;
    top: 69px;
    border-radius: 40px;
    background: #ffffff;
    border: 1px solid #cbcbcb;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
#keyword-modal .close-button{ top:110px;}

/*浮动的标签*/

.floating-tags {
    display: none;
    position: fixed;
    top: 40px;
    left: 0;
    height: 90%;
    width: 41px;
    background-color: #c1c1c1de;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e5e5e5;
    padding: 17px 9px;
    box-shadow: 0 2px 21px #31313145;
    z-index: 385;
    overflow-x: auto;
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: translateX(100%);
    opacity: 0;
}



.floating-tags.visible {
    transform: translateX(0);
    opacity: 1;
}





.floating-tags .tag {
 padding: 7px 4px;
 /* margin-right: 8px; */
 background-color: #fbfbfb;
 border-radius: 6px;
 cursor: pointer;
 /* border: 1px solid #b1b1b161; */
 letter-spacing: 0px;
 text-align: center;
 color: #000000;
 width: 26px;
 font-size: 15px;
 box-shadow: 0 0 5px #cccccc82;
 display: block;
 line-height: 21px;
 margin-bottom: 10px;
 position:relative;
}




.floating-tags .tag::first-letter {
  font-size: 15px; /* 设置第一个字符的字体大小 */
}

.floating-tags .tag::nth-child(2) {
  font-size: 10px; /* 设置数字的字体大小 */
}


.floating-tags .tag.active {
    background-color: #070707;
    color: #ffffff;
    font-weight: bold;
    border: 1px solid #181818;
}


.floating-tags .tag::after{
    content: "";
    display: block;
    width: 1px;
    height: 10px;
    background-color: #696969;
    position: absolute;
    left: 20px;
    bottom: -11px;
}

#auto-scroll-button {
    position: fixed;
    right: 20px;
    bottom: 150px; /* 位于页面中间 */
    transform: rotate(90deg);
    background-color: #ffffff;
    color: #b20000;
    padding: 2px 0px;
    border: 1px solid #e7e7e7;
    border-radius: 21px;
    cursor: pointer;
    width: 35px;
    font-size: 24px;
    height: 35px;
    text-align: center;
    font-weight: bold;
    z-index: 1000; display:none;
}

#auto-scroll-button:hover {
    background-color: #ffffff;
    color: #c10808;
}


#content-container .loading-overlay {
    display: none;
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.99);
    z-index: 1000;
    justify-content: center;
    align-items: top;
	padding-top:70px;
}

#content-container .loading-spinner {
    border: 4px solid #CCCCCC;
    border-top: 4px solid #CC0000;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin .2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/* 剩余计数器样式 - 通过JS动态创建 */

#remaining-counter {
    position: fixed;
    top: 5px;
    left: -9px;
    background: #ffffff;
    border: 1px solid #737373;
    border-radius: 10px;
    padding: 5px 10px 4px 18px;
    font-size: 12px;
    letter-spacing: 1px;
    z-index: 283;
    box-shadow: 0 2px 5px rgb(0 0 0 / 11%);
    display: none;
}



#remaining-counter #remaining-count {
    /* color: #aa0000; */
    /* font-weight: bold; */
}

#remaining-counter #total-count {
    color: #575757;
}



/* 新增全标签弹窗样式 */
#all-tags-modal {
    display: none;
    position: fixed;
    z-index: 1002;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0 0 0 / 0%);
}

#all-tags-modal .modal-content h3{
    padding: 0;
    margin: -11px 0 8px;
    display: none;
    font-size: 16px;
    }

#all-tags-modal .modal-content {
    background-color: #ffffff;
    margin: 137px auto 0;
    padding: 13px 14px;
    border: 1px solid #e3e3e3;
    width: 82%;
    max-width: 631px;
    border-radius: 12px;
    max-height: 70vh;
    overflow-y: hidden;
}

#all-tags-modal .close-button {
   
	color: #df0505;
    font-size: 26px;
    float: right;
    cursor: pointer;
    background: #ffffff;
    /* border-radius: 50%; */
    width: 15px;
    height: 30px;
    position: fixed;
    text-align: center;
    line-height: 30px;
    width: 15px;
    top: 116px;
}

#all-tags-container {
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* gap: 10px; */
    padding: 10px 0;
    overflow-y: scroll;
    height: 390px;
}

#all-tags-container .tag {
    padding: 8px 11px;
    background-color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #ddd;
    margin: 0 10px 10px 0;
    float: left;
}
#all-tags-container .tag:hover { color:#000;
}

#all-tags-container .tag.active {
    background-color: #ffffff;
    color: #000000;
    border-color: #ddd; display:none;
}


/* 在 style.css 文件末尾添加 */
#scroll-down-button {
    position: fixed;
    right: -300px;/*right: 30px;*/
    bottom: 233px;
    background-color: #ffffffe6;
    color: #000000;
    border: 1px solid #b7b7b78c;
    border-radius: 21px;
    cursor: pointer;
    width: 45px;
    height: 45px;
    font-size: 22px;
    text-align: center;
    font-weight: bolder;
    transform: rotate(180deg);
    z-index: 844;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#scroll-down-button:hover {
    background-color: #ffffff;
    color: #c10808;
}





/* 今日推荐弹窗样式 */
#today-recommend-modal {background-color: rgb(0 0 0 / 35%);}

#today-recommend-modal .modal-content {
    background-color: #ffffff;
    margin: 84px auto 0;
    padding: 20px 0 20px;
    border: 1px solid #8f8f8f;
    width: 90%;
    max-width: 631px;
    border-radius: 12px;
    height: 100%;
    overflow: hidden;
    box-shadow: 0 0 15px #ccc;
}

#today-recommend-modal h3 {
    text-align: center;
    color: #333;
    font-size: 15px;
    position: absolute;
    top: 13px;
    left: 19px;
    padding-bottom: 6px;
    margin: 0;
    padding: 0; font-weight:bold; letter-spacing:2px;
	
	
	
}

#today-recommend-container {
	
	    height: 411px;
    overflow-y: auto;
    padding: 0px 20px 0px;
    margin-top: 19px;
    margin-bottom: 0;
    border-top: 1px solid #e5e5e5;
    position: relative;
	
}

#today-recommend-container li {list-style: none;height: auto;margin-bottom: 2px;font-size: 16px;border-bottom: 1px dashed #d1d1d1;line-height: 32px;background: #ffffff;letter-spacing: 1px;align-items: center;justify-content: space-between;padding: 0px 0px 3px 0px;position: relative;display: block;}

#today-recommend-container li span{
    position: relative;
    display: block;
    min-height: auto; padding:10px 0 5px ; font-size:15px;

}
#today-recommend-container li span i{
    position: absolute;
    font-size: 12px;
    color: #959595;
    right: 1px;
    top: auto;
    bottom: 27px;
    font-weight: lighter;
}
#today-recommend-container li span b{
    position: relative;
    top: 3px;
    font-size: 14px;line-height: 22px; padding-bottom:7px;
}
 #today-recommend-container li c {
    text-decoration: none;
    display: block;
    line-height: 27px;
    padding: 0px 0 23px;
    height: auto;
    position: relative;
    top: 0px;
    }
    
    #today-recommend-container li c h4{ margin:0; padding:0;}
	    #today-recommend-container li c p{margin:0; padding:0;}
    #today-recommend-container li c u{    color: #25829c;    font-size: 14px;  text-decoration: none;}


#today-recommend-container .actions {
    margin-top: 1px;
    height: 27px;
    bottom: 3px;
    position: relative;
    display: block;
}

#today-recommend-container .actions button {
    padding: 3px 2px;
    height: 29px;
    color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 3px;
    cursor: pointer;
    font-size: 12px;
    float: right;
    display: inline block;
    width: 53px;
    color: #737373;
    height: 24px;
    margin-left: 6px;
    }

#today-recommend-container .actions button:hover {
    background-color: #e0e0e0;
}

.bottom-close-button { color:#252525;display: block;float: left;height: 33px;padding: 0px 22px;font-size: 14px;background: #ffffff;border: 1px solid #b3b3b3;border-radius: 16px;color: #000;margin-right: 0px;}
.refresh-button {
    display: block;
    float: right;
    height: 33px;
    padding: 0px 29px;
    font-size: 14px;
    background: #000;
    border: 1px solid #616161;
    border-radius: 16px;
    color: #fff;
    margin-right: 17px;
}
.bottom-buttons{
    border-top: 1px solid #ccc;
    padding-top: 9px;
    padding: 9px 30px;
}




.today-recommend-button{

    position: absolute;
    right: 19px;
    top: 137px;
    width: 33px;
    height: 32px;
    border-radius: 6px;
    background: #ffffff;
    color: #313131;
    font-size: 18px;
    border: 1px solid #dfdfdf;
    cursor: pointer;
    z-index: 999;
    line-height: 29px;

}



