body {
    font-family: Arial, sans-serif;
    padding: 20px; margin:0;
}
.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 9px;
    border: 1px solid #ccc;
    position: relative;
    border-radius: 12px;
    padding: 0 6px;
    height: 40px;
}
#search-input {
    width: 70%;
    padding: 10px;
    font-size: 14px;
    border: none;
    height: 18px;
    color: #ed2424;
    line-height: 36px;
    float: left;
    border-radius: 12px;
    position: absolute;
    left: 3px;
}
#clear-search{display:block;position: absolute;right: 4px;padding: 12px 17px;}


 .tagsbox{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    height: 25px;
    margin-bottom: 13px;
    }
  .tagsbox .tip{
    /* background: #ffffff; */
    font-weight: bold;
    font-size: 15px;
    padding: 2px 0 0 3px;
    position: absolute;
    z-index: 100;
    color: #000;
    width: 42px;
    height: 30px;
    left: -2px;
    box-shadow: 0px 0px 17px #0a0a0a21;
    }
   .tagsbox .show-all-tags{
    background-color: #ffffff;
    background-size: 20px;
    background-image: url(scroll.gif);
    background-repeat: no-repeat;
    background-position: 4px 12px;
    color: #101010;
    border: none;
    padding: 7px 2px;
    cursor: pointer;
    font-size: 0;
    position: absolute;
    box-shadow: 0px 0px 26px #a5a5a58c;
    z-index: 99;
    display: block;
    width: 30px;
    height: 33px;
    top: -8px;
    right: -5px;
    text-align: center;
    line-height: 27px;
    }


 .tags{
            display: flex;
            gap: 7px;
            padding-bottom: 5px;
            margin-bottom: 1px;
            overflow-x: scroll;
            margin-left: 48px;
            margin-right: 27px;
            scroll-behavior: smooth;
            -webkit-overflow-scrolling: touch;
        }
		.keywords {
    display: flex;
    gap: 8px 5px;
    flex-wrap: wrap;
    margin-bottom: 2px;
    height: 37px;
    flex-direction: column;
    display: inline-block; /* 允许使用宽度 */
    animation: scrollText 140s linear infinite;  /* 应用动画 */
    }
	
/*			.keywords {
    display: flex;
    gap: 8px 5px;
    flex-wrap: wrap;
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: 16px;
    height: 44px;
    flex-direction: column;
    overflow: scroll;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    }
	*/
	.tags .tip{background:none;font-weight:bold;font-size: 15px; padding: 2px 0 0 0px;margin-right: 0;border: none;}
	.marquee .tip{background: #ffffff;font-weight:bold;font-size: 15px;padding: 5px 0 0 3px;position: absolute;z-index: 100;color: #000;left: -1px;}	
		
        .tag{
            padding: 3px 3px;
            background-color: #ffffff;
            border-radius: 5px;
            cursor: pointer;
            letter-spacing: 1px;
            color: #000;
            border: 1px solid #efefef;
            font-size: 13px;
            display: inline;
        }
		
		.marquee {
  width: 100%; /* 容器宽度 */
  overflow: hidden; /* 隐藏溢出的内容 */
  white-space: nowrap; /* 防止文本换行 */
  position: relative; /* 相对定位 */
}
		
			.keyword {
            padding: 5px 6px;
            background-color: #ffffff;
            border-radius: 5px;
            cursor: pointer;
            color: #575757;
            letter-spacing: 1px;
            font-size: 13px;
            display: inline-block;
            border: 1px solid #f3f3f3;
            margin-right:5px;
        }
		
		
		@keyframes scrollText {
  0% {
    transform: translateX(0); /* 开始时，不移动 */
  }
   2% {
    transform: translateX(0); /* 开始时，不移动 */
  }
  100% {
    transform: translateX(-100%); /* 完全移动到左边，超出容器宽度 */
  }
}
		
        .tag:hover, .keyword:hover , .active{
            background-color: #df0007;
            color: white;
        }
.content {
    padding-top: 15px;padding-bottom: 50px;
}
.category {
    margin-bottom: 15px;
}
.category h3 {
    margin: 3px 0 4px;
    font-size: 15px;
    /* color: #343434; */
    border-bottom: 7px solid #f3f3f3;
    letter-spacing: 2px;
    padding-bottom: 5px;
    line-height: 11px;
    height: 16px;
}
.category ul {
    list-style-type: none;
    padding: 0;
}
.category ul li {
    margin-bottom: 6px;
    font-size: 16px;
    border-bottom: 1px dashed #717171;
    line-height: 32px;
    background: #ffffff;
    letter-spacing: 1px; 
    /* display: flex; */
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px 9px 0px;
    position: relative;min-height: 67px;
}
.category ul li span{ display: block;    padding-bottom: 25px;}
.category ul li b span,.category ul li  span c span,.category ul li  span i span,.category ul li  span span { height:auto; padding:0; display: inline;text-decoration: underline;}


.clear-btn {
    cursor: pointer;
    color: #ed2424;
    position: absolute;
    right: 6px;
    top: -4px;
    font-size: 22px;
    padding: 5px 15px;
}
@media (max-width: 600px) {
    .search-container {
        flex-direction: column;
    }
    #search-input {
        width: 90%;
        height: 18px;
        border: none;
    }
}
.title {
    height: 91px;
    line-height: 80px;
    text-align: center;
    margin-top: 31px;
}
.title h1 {
    font-size: 31px;
    line-height: 39px;
    font-family: cursive;
    padding: 10px 0px 0;
    font-weight: bold;
    margin: 0;
    text-shadow: 0 0 4px #FFF;
}
.title p {
    font-size: 15px;
    line-height: 10px;
    padding: 10px 0 0;
    margin: 0;
    font-family: fangsong;
    letter-spacing: 3px;
    color: #8f8f8f;
}

.actions {
    display: flex;
    gap: 6px 8px;
    position: absolute;
    right: 0px;
    bottom: 12px;
}
.actions button {
    background-color: #ffffff;
    color: #919191;
    border: 1px solid #f3f3f3;
    padding: 3px 4px;
    border-radius: 5px;
    cursor: pointer;
}
.actions button:hover { color:#CC0000;
}

/* 现有样式保持不变，新增以下样式 */
.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-height: 66%;
	border-radius: 21px;
	overflow-y: scroll;
	overflow-x:hidden;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch; position:relative;
}
.modal-content .keyword{  margin: 0 8px 8px 0;}

#modal-keywords-container{
 height:100%;
	}


.close-button {
    color: #ffffff;
    font-size: 29px;
    margin-top: -16px;
    display: block;
    padding: 0px 8px;
    margin-right: -19px;
    position: fixed;
    right: 36px;
    top: 69px;
    border-radius: 40px;
    background: #c70000;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.show-all-keywords {
    background-color: #ffffff;
    color: #ed2424;
    border: none;
    padding: 7px 6px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
    position: absolute;
    z-index: 99;
    display: block;
    width: 40px;
    height: 36px;
    top: -4px;
    right: -4px;
    text-align: center;
}

.show-all-keywords:hover {
    background-color: #a50006;
}


/* 回到顶部按钮样式 */

#back-to-top {
    display: none;
    position: fixed;
    bottom: 245px;
    right: 20px;
    background-color: #fff;
    color: #c10006;
    padding: 5px 0px;
    border-radius: 5px;
    border: 1px solid #e7e7e7;
    cursor: pointer;
    font-size: 25px; line-height:25px;
    width: 35px;
    height: 35px;
    font-weight: bold;
    z-index:100;
}

#back-to-top:hover {
    background-color: #a50006 ; color:#fff;
}
.category ul li  c{text-decoration: none;display: block;line-height: 27px;padding: 6px 0 5px;max-height: 120px;overflow-y: auto;}
.category ul li  c p{ padding:0; margin:0; font-size:16px;}
.category ul li  c b{color:#000;font-weight: bold;font-size: 16px;/* top: auto; */}
.category ul li  c u{color: #25829c;    font-size: 14px;    text-decoration: none;}
.category ul li  c h4{ padding:0; margin:0; }

.category ul li  i{color: #777777;text-align: right;display: block;line-height: 15px;font-size:12px;margin-bottom: 7px;padding-top: 6px;letter-spacing: 0px;font-style: normal;}
.category ul li  b{color: #658ba7;display: block;font-weight: normal;font-size: 14px;line-height: 21px;padding-bottom: 10px;letter-spacing: 0;overflow: hidden;    padding-top: 5px;}





/* 现有样式保持不变，新增以下样式 */
.modal {
    display: none;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 60%;
    border-radius: 21px;
    overflow-y: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}



.modal-content   c{text-decoration: none;display: block;line-height: 28px;padding: 6px 21px 5px 5px;position: absolute;font-size: 15px;top: 115px;}
.modal-content   c b{color:#000;display: none;position: relative;top: auto;}

.modal-content   i{color: #000000;text-align: right;display: block;line-height: 29px;font-size: 16px;position: absolute;top: 49px;text-decoration: none;font-style: normal;font-weight: bold;text-align: left;}
.modal-content   b{color: #ab0000;display: block;font-weight: normal;font-size: 16px;position: absolute;top: 18px;}





.close-button {
    color: #ffffff;
    font-size: 29px;
    margin-top: -16px;
    display: block;
    padding: 0px 8px;
    margin-right: -19px;
    position: fixed;
    right: 36px;
    top: 69px;
    border-radius: 40px;
    background: #c70000;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*浮动的标签*/


.floating-tags {
    display: none; /* 默认隐藏 */
    position: fixed;
    bottom: 0;
    left: 0;
    height: 36px;
    width: 100%;
    background-color: #252525;
    border-top: 1px solid #ededed;
    padding: 14px 12px;
    box-shadow: 0 -2px 3px #c7c7c721;
    z-index: 990; /* 确保在最顶层 */
    overflow-x: auto; /* 允许水平滚动 */
    white-space: nowrap; /* 防止换行 */
}

.floating-tags .tag {
    padding: 6px 8px;
    margin-right: 8px;
    background-color: #6f6f6f;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #898989;
    letter-spacing: 1px;
    color: #ffffff;
    font-size: 15px;
    display: inline;
}

.floating-tags .tag.active {
    background-color: #c10006;
    color: white;
    border: 1px solid #cb5b5b;
}




#auto-scroll-button {
    position: fixed;
    right: 20px;
    bottom: 301px; /* 位于页面中间 */
    transform: translateY(50%);
    background-color: #ffffff;
    color: #b20000;
    padding: 2px 0px;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    cursor: pointer;
    width: 35px;
    font-size: 13px;
    height: 35px;
    text-align: center;
    z-index: 1000;
}

#auto-scroll-button:hover {
    background-color: #ad4346; 
 color: #Fff; 
}