body {
    font-family: Arial, sans-serif;
    padding: 20px;
}
.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 9px;
    border: 1px solid #ccc;
    position: relative;
    border-radius: 12px;
    padding: 0 6px;
}
#search-input {
    width: 70%;
    padding: 10px;
    font-size: 16px;
    border: none;
    height: 36px;
    color: #ed2424;
    line-height: 36px;
    border-radius: 12px;
}
 .tags{
            display: flex;
            gap: 8px 5px;
            flex-wrap: wrap;
            border-bottom: 1px solid #efefef;
            padding-bottom: 14px;
            margin-bottom: 10px;
        }
		.keywords {
    display: flex;
    gap: 8px 5px;
    flex-wrap: wrap;
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: 6px;
    height: 37px;
    flex-direction: column;
    display: inline-block; /* 允许使用宽度 */
    animation: scrollText 140s linear infinite;  /* 应用动画 */
    }
	
/*			.keywords {
    display: flex;
    gap: 8px 5px;
    flex-wrap: wrap;
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: 16px;
    height: 44px;
    flex-direction: column;
    overflow: scroll;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    }
	*/
	.keywords .tip{background:none;font-weight:bold;/* font-size: 16px; */padding: 2px 0 0 0px;margin-right: 0;border: none;}
	.marquee .tip{background: #ffffff;font-size: 15px;padding: 5px 0 0 3px;position: absolute;z-index: 999;color: #000000;left: -1px;}	
		
        .tag{
            padding: 6px 4px;
            background-color: #f9f9f9;
            border-radius: 5px;
            cursor: pointer;
            letter-spacing: 3px;
            font-size: 13px;
        }
		
		.marquee {
  width: 100%; /* 容器宽度 */
  overflow: hidden; /* 隐藏溢出的内容 */
  white-space: nowrap; /* 防止文本换行 */
  position: relative; /* 相对定位 */
}
		
			.keyword {
            padding: 5px 6px;
            background-color: #ffffff;
            border-radius: 5px;
            cursor: pointer;
            letter-spacing: 1px;
            font-size: 13px;
            display: inline-block;
            border: 1px solid #f3f3f3;
            margin-right:5px;
        }
		
		
		@keyframes scrollText {
  0% {
    transform: translateX(0); /* 开始时，不移动 */
  }
   2% {
    transform: translateX(0); /* 开始时，不移动 */
  }
  100% {
    transform: translateX(-100%); /* 完全移动到左边，超出容器宽度 */
  }
}
		
        .tag:hover, .keyword:hover {
            background-color: #df0007;
            color: white;
        }
.content {
    margin-top: 20px;
}
.category {
    margin-bottom: 15px;
}
.category h3 {
    margin: 0 0 2px;
    font-size: 18px;
    color: #000000;
    border-bottom: 3px solid #000000;
    padding-bottom: 7px;
}
.category ul {
    list-style-type: none;
    padding: 0;
}
.category ul li {
    margin-bottom: 6px;
    font-size: 16px;
    border-bottom: 1px dashed #717171;
    line-height: 32px;
    background: #ffffff;
    letter-spacing: 1px;
    /* display: flex; */
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px 17px 0px;
    position: relative;
    min-height: 55px;
    /* font-weight: bold; */
    /* list-style: decimal; */
    /* margin-left: 14px; */
}
.clear-btn {
    cursor: pointer;
    color: #ed2424;
    position: absolute;
    right: 6px;
    top: 3px;
    font-size: 22px;
    padding: 5px 15px;
}
@media (max-width: 600px) {
    .search-container {
        flex-direction: column;
    }
    #search-input {
        width: 96%;
        height: 20px;
        border: none;
    }
}
.title {
    height: 91px;
    line-height: 80px;
    text-align: center;
}
.title h1 {
    font-size: 28px;
    line-height: 57px;
    padding: 0 0px;
    margin: 0;
}
.title p {
    font-size: 15px;
    line-height: 10px;
    padding: 0;
    margin: 0;
    letter-spacing: 6px;
    color: #8f8f8f;
}
.actions {
    display: flex;
    gap: 6px;
    position: absolute;
    right: 14px;
    bottom: 5px;
}
.actions button {
    background-color: #ffffff;
    color: #999999;
    border: 1px solid #e3e3e3;
    padding: 3px 4px;
    border-radius: 5px;
    cursor: pointer;
}
.actions button:hover { color:#CC0000;
}

/* 现有样式保持不变，新增以下样式 */
.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-height: 66%;
	border-radius: 21px;
	overflow-y: scroll;
	overflow-x:hidden;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch; position:relative;
}
.modal-content .keyword{  margin: 0 8px 8px 0;}

#modal-keywords-container{
 height:100%;
	}


.close-button {
    color: #ffffff;
    font-size: 29px;
    margin-top: -16px;
    display: block;
    padding: 0px 8px;
    margin-right: -19px;
    position: fixed;
    right: 36px;
    top: 69px;
    border-radius: 40px;
    background: #c70000;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.show-all-keywords {
    background-color: #ffffff;
    color: #ed2424;
    border: none;
    padding: 7px 6px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
    position: absolute;
    z-index: 99;
    display: block;
    width: 40px;
    height: 36px;
    top: -4px;
    right: -4px;
    text-align: center;
}

.show-all-keywords:hover {
    background-color: #a50006;
}


/* 回到顶部按钮样式 */

#back-to-top {
    display: none;
    position: fixed;
    bottom: 26px;
    right: 20px;
    background-color: #c10006;
    color: white;
    padding: 5px 6px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
    width: 30px;
    height: 77px;
}

#back-to-top:hover {
    background-color: #a50006;
}
.category ul li  c{text-decoration: none;display: block;line-height: 23px;padding: 6px 0 5px;}
.category ul li  i{ color: #9b9797; text-align: right; display: block; line-height: 16px; font-size:12px;}
.category ul li  b{color: #ab0000;display: block;font-weight: normal;font-size: 14px;}

